# 明示的に LF + UTF-8 にするファイル
*.txt text eol=lf working-tree-encoding=UTF-8
*.sh text eol=lf working-tree-encoding=UTF-8
*.md text eol=lf working-tree-encoding=UTF-8
*.yml text eol=lf working-tree-encoding=UTF-8
*.py text eol=lf working-tree-encoding=UTF-8
*.toml text eol=lf working-tree-encoding=UTF-8

# Git 管理系
.gitignore text eol=lf working-tree-encoding=UTF-8
.gitattributes text eol=lf working-tree-encoding=UTF-8

# 拡張子なしの Dockerfile は誤判定しやすいので明示
Dockerfile text eol=lf working-tree-encoding=UTF-8
